body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-color: #cccccc15;
  padding: 40px 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 550px;
  height: fit-content;
  box-shadow: 0px 0px 20px rgb(240, 22, 22);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  border: 2px solid transparent;

  
}
.register-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 30px rgba(84, 3, 3, 0.8); 
  border: 2px solid rgba(255, 77, 0, 0.7); 
}

.register-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #000000;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.register-form input,
.register-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.register-btn {
  width: 50%;
  padding: 12px;
  background-color: #44d67c;
  background: linear-gradient(145deg, #ff6b6b 0%, #ff8e53 50%, #c71585 100%);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgb(235, 152, 58);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: block;     
  margin: 0 auto;      
}


.register-btn:hover {
 background: #ec5c03;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(235, 130, 11, 0.813);
}
.login-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-text a {
  color: #004080;
  text-decoration: none;
  font-weight: bold;
}

.login-text a:hover {
  text-decoration: underline;
}
